.nav {
    padding: 2px;
    background-color: #DEDEDE !important;
}

i {
    color: #F4F4F4 !important;
    border: #4E4E4E !important;
    box-shadow: #00000029 !important;
    font-size: 25px;
}

.sucess {
    color: rgb(78, 230, 179) !important;
}