.nav {
    padding: 2px;
    background-color: #DEDEDE !important;
}

i {
    color: #F4F4F4 !important;
    border: #4E4E4E !important;
    box-shadow: #00000029 !important;
    font-size: 25px;
    cursor: pointer;
}

.fa-pen {
    font-size: 12px;
    margin-right: 5px;
    color: #4E4E4E !important;
}

.btn {
    background-color: #FFFFFF !important;
    border-radius: 0.9rem !important;
    padding: 0.2rem 0.4rem !important;
}
